	body {
				margin: 0px;
				padding: 0px;
				height: 99%;
				background-color: #000;
				text-align: center;
			}
			
			textarea#setter  {
				left: -1000px;
				position: absolute;
			}
			
			.cursor {
				font-size: 10px;
				background-color: #AAA;
				color: #AAA;
				position: relative;
				opacity: 0.5;
			}
			
			#terminal {
				margin: 0 auto;
				cursor: text;
				width: 650px;
				height: 500px;
                overflow: scroll;
                text-align: left;
			}
			
			#writer {
				font-family: courier, fixed;
				font-weight: normal;
				font-size: 12px;
				color: #33D011;
			}
            
            #getter {
            	margin: 5px;
            }